﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<a href='@Url.Action("GetTestIndex", "Home")'>
		<input type='button' value='Test Capp Exe!' />
	</a>
</div>
